/* .scrollDist {
    width: 100%;
    height: 200vh;
  }
  
  svg {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 1200px;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;
  }
  
  body, html {
    margin: 0;
    padding: 0;
  }
   */
